@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Portfolio Styles */
* {
	font-family: 'Source Code Pro', monospace;
}

.bg-main {
	color: #fff;
	background: #575b59;
}

.bg-home {
	color: #fff;
	background: #9b8e7a;
}

.bg-resume {
	color: #fff;
	background: #b6b4aa;
}

.bg-work {
	color: #fff;
	background: #8e8c86;
}

.bg-contact {
	color: #fff;
	background: #c5a78d;
}

.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

.contact-items {
	display: block;
}

.course-btn {
	color: #fff;
	background: #575b59;
	outline: none;
}

.view-code-on {
	height: 4vh;
}

.mfizz-icon {
	font-size: 2.3rem;
}

#duLogo {
	height: 33px;
	width: 108px;
}

#freeCodeCampLogo {
	right: 20px;
}

#headerText {
	height: 100%;
}

#main-header img {
	width: 100%;
	height: 100%;
}

#main-header .port-item {
	width: 30%;
}

#main-header .port-item:hover {
	opacity: 0.8;
	cursor: pointer;
}

#udemyLogo {
	height: 30px;
	width: 30px;
}

#ugaLogo {
	height: 33px;
	width: 103px;
}

/* Medium - tablets */
@media (min-width: 768px) {
	.port-item {
		padding: 1.6em !important;
	}
}

/* Large - desktops */
@media (min-width: 992px) {
	.contact-items {
		display: inline-block;
	}
}

/* Extra large - large desktops */
@media (min-width: 1200px) {
	.port-item {
		padding-top: 3.05em !important;
		padding-bottom: 3.05em !important;
	}
}
